@page
@model PizzaWebsite.Pages.CreatePizzaModel
@{
    ViewData["Title"] = "Create Pizza";
}

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="Input.Name"></label>
        </dt>
        <dd>
            <input asp-for="Input.Name" type="text">
            <span asp-validation-for="Input.Name"></span>
        </dd>
    </dl>
    <dl>
        <dt>
            <label asp-for="Input.Price"></label>
        </dt>
        <dd>
            <input asp-for="Input.Price" type="number">
            <span asp-validation-for="Input.Price"></span>
        </dd>
    </dl>
    <dl>
        <dt>
            <label asp-for="Input.Ingredients"></label>
        </dt>
        <dd>
            <input  asp-for="Input.Ingredients" type="text">
            <span asp-validation-for="Input.Ingredients"></span>
        </dd>
    </dl>
    <dl>
        <dt>
            <label asp-for="Input.FrontImage"></label>
        </dt>
        <dd>
            <input asp-for="Input.FrontImage" type="file">
            <span asp-validation-for="Input.FrontImage"></span>
        </dd>
        <dt>
            <label asp-for="Input.BackgroundImage"></label>
        </dt>
        <dd>
            <input asp-for="Input.BackgroundImage" type="file">
            <span asp-validation-for="Input.BackgroundImage"></span>
        </dd>
        <dt>
            <label asp-for="Input.IsSpecial"></label>
        </dt>
        <dd>
            <input asp-for="Input.IsSpecial" type="checkbox">
            <span asp-validation-for="Input.IsSpecial"></span>
        </dd>
    </dl>
    <div asp-validation-summary="ModelOnly">
        <span>Please correct the following errors</span>
    </div>
    <input class="btn btn-outline-danger" type="submit" value="Upload" />

</form>
