@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<main>
    <div class="carousel slide mb-5" id="carouselControls" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class"d-block w-100" src="https://staticy.dominospizza.ru/api/medium/Banner/Web/589/NULL/NULL/RU" />
            </div>
            <div class="carousel-item">
                <img class"d-block w-100" src="https://staticy.dominospizza.ru/api/medium/Banner/Web/585/NULL/NULL/RU" />
            </div>
            <div class="carousel-item">
                <img class"d-block w-100" src="https://staticy.dominospizza.ru/api/medium/Banner/Web/463/NULL/NULL/RU" />
            </div>
        </div>

        <a class="carousel-control-prev" role="button" href="#carouselControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>

        <a class="carousel-control-next" role="button" href="#carouselControls" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</main>


<div class ="facts">
    <sector>
        <h2>Доставка пиццы</h2>
        <article>
            <p>
                Круглосуточный заказ и доставка пиццы на дом по городу - pizzaonline.uz. Заказать вкусное итальянское блюдо — пиццу с доставкой легко.

                Перечень пиццерий, занимающихся ее приготовлением, представлен на страницах нашего сайта pizzaonline.uz.

                Мы собрали полную информацию о заведениях для легкого поиска и заказа еды на дом, в офис или в любое другое место.

                Информация о стоимости доставки времени и пр. помогает быстро выбрать кафе или ресторан.

                Оформить заказ и бесплатную доставку пиццы в Баку можно онлайн, позвонив по телефону или через наше приложение.
            </p>
        </article>
    </sector>
    <sector>
        <h2>Где мы берем ингредиенты?</h2>
        <article>
            <p>
                Биотехнологические ингредиенты «выращиваются» или с использованием микроорганизмов, или - специальных биотехнологических процессов: так получаются, например, шиконин - из калусной культуры клеток воробейника краснокорневого, экстракт биомассы женьшеня. С непосредственным использованием микроорганизмов производят наши витамины: β-каротин и витамин С. Такие компоненты, конечно, абсолютно свободны от сельскохозяйственных загрязнителей. Вообще, найти на карте незагрязненные пестицидами зоны – не такая простая задача. Хотя мы и отслеживаем цепочки производства наших ингредиентов.

                Натуральное сырье в основном выращивается (гораздо реже - собираются дикоросы) на экологически чистых территориях. Вот некоторые примеры: черника – карельская, мумие – алтайское, расторопша – тоже родная, приволжская, а вот алоэ – из Грузии. Некоторые ингредиенты едут к нам из стран Европы.
            </p>
        </article>
    </sector>
</div >

