@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<main id="bgc">
    <div class="carousel slide mb-5" id="carouselControls" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class"d-block w-100" src="https://staticy.dominospizza.ru/api/medium/Banner/Web/589/NULL/NULL/RU" />
            </div>
            <div class="carousel-item">
                <img class"d-block w-100" src="~/img/pbanner1.jpg" />
            </div>
            <div class="carousel-item">
                <img class"d-block w-100" src="https://staticy.dominospizza.ru/api/medium/Banner/Web/463/NULL/NULL/RU" />
            </div>
        </div>

        <a class="carousel-control-prev" role="button" href="#carouselControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>

        <a class="carousel-control-next" role="button" href="#carouselControls" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</main>


<div class="row">
    <div class="column">
        <img class="" src="~/img/Pizza.png"/>
        <button class="w-25 mb-2 btn btn-lg btn-outline-danger">Order</button>
    </div>

</div>


<div class ="facts">
    <sector>
        <h2>Pizza delivery</h2>
        <article>
            <p>
                Round-the-clock ordering and delivery of pizza to your home in the city - pizzaonline.uz. Ordering a delicious Italian dish - pizza with delivery is easy. The list of pizzerias involved in its preparation is presented on the pages of our website pizzaonline.uz. We have collected complete information about establishments for easy search and ordering food to your home, office or any other place. Information about the cost of delivery, time, etc. helps you quickly choose a cafe or restaurant. You can place an order and free delivery of pizza in Baku online by calling or through our application.
        </article>
    </sector>
    <sector>
        <h2>Where do we get the ingredients?</h2>
        <article>
            <p>
                Biotechnological ingredients are "grown" either using microorganisms, or - special biotechnological processes: for example, shikonin is obtained from the calus culture of red-root sparrow cells, an extract of ginseng biomass. With the direct use of microorganisms, our vitamins are produced: β-carotene and vitamin C. Such components, of course, are absolutely free from agricultural pollutants. In general, finding areas that are not contaminated with pesticides on the map is not such an easy task. Although we track the production chains of our ingredients. Natural raw materials are mainly grown (much less often - wild plants are collected) in environmentally friendly areas. Here are some examples: blueberry - Karelian, mummy - Altai, thistle - also native, Volga, but aloe - from Georgia. Some ingredients come to us from European countries.
            </p>
        </article>
    </sector>
</div >

