@page 
@model PizzaWebsite.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Our Menu</h1>
<div class="container">
    <div class="row my-5">
        @{
            foreach (var pizza in Model.Pizzas)
            {
                <div class="col">
                    <a href="/ViewPizza/@pizza.PizzaId"><img src="~/img/pizza-images/@pizza.ImageLocation" /></a>
                </div>

            }
        }
    </div>
</div>