@page 
@model PizzaWebsite.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Our Menu</h1>
<div>
   <nav>
       <ul class="menu-list">
            @{
                foreach (var pizza in Model.Pizzas)
                {                    
                    <li>
                        <a><img src="~/img/pizza-images/@pizza.ImageLocation" /></a>
                    </li>
                }
            }
       </ul>
   </nav>
</div>