<!DOCTYPE html>
<html lang="en">

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PizzaWebsite | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PizzaWebsite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Menu.cshtml.css" asp-append-version="true" />
</head>
<body>
    <nav style=" background-color:maroon; height:5%;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow ">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                   
                    @{
                        if (SignInManager.Context.User.HasClaim("Admin", "true"))
                        {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/CreatePizza">Create Pizza</a>
                                </li>
                        }
                    }
                </ul>
                @{
                    if (SignInManager.Context.User.HasClaim("Admin", "true"))
                    {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/ManageAdmins">Manage Admins</a>
                                </li>
                            </ul>
                    }
                }
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    <header class="sticky-top">
        <nav style=" background-color:#ad2122;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img class="pb-100" id="startIcon" src="~/img/Icon.png"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" asp-page="/Menu">Offers</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" asp-page="/Menu">Menu</a>
                        </li>
                        
                    </ul>
                    <form action="" class="d-flex">
                        <input type="Search" class="form-control mx-2" placeholder="Search" />
                        <button class="btn btn-outline-warning ml-2">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main id="originID" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - PizzaWebsite - <a asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

