html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*margin-top: 60px;*/
    background-color: #f3f3f7;
    
}

header {
    z-index: 10;


    
}
/*
n:hover{
    color:red !important;
}
.nav-link:hover {
    color: red !important;
}
.nav-link {
    color: #dc3545;
}
.nav-link:active {
    color: #f3f3f7;
    background-color:red;
}
*/

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #dc3545;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #dc3545;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
    .nav-link:hover {
        color: #ad2122;
    }
a:hover {
    color: #ad2122
}

a {
    color: #212529;
}
#startIcon{
    height:40px;
}

#reg{
    padding-top:3%;
}
#log{
    padding-top:3%;
}

    .scale:hover {
    transform: scale(1.1);
    transition:all ease 0.3s;
}

.card {
    border-radius: 18px;
}

h1 {
    color: rgb(36, 36, 36);
}

p{
    color: rgb(120, 124, 130);
}

h6{
    font-weight:700;
}

.btn{
    border-radius:25px !important;
}

.list-group-item-danger:active{
    background-color:	#df4759
}